DB_URL=postgresql://postgres.YOUR_PROJECT_ID:YOUR_PASSWORD@aws-1-us-west-2.pooler.supabase.com:5432/postgres?sslmode=require

# The schema iam are querying 

INDUSTRY = healthcare

# My personal learner schema

LEARNER_SCHEMA = learner_03